*{
    margin: 0%;
    padding: 0%;
}

body{
    font-weight: 400;
    line-height: 1.5;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.sub-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.sub-container-1{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.sub-container-2{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

h1,h2,h3{
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.2;
}

h1{
    color: grey;
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 20px;
}

a{
    font-size: 16px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}

.paragraph{
    text-align: center;
    margin-bottom: 10px;
}

.pop-text{
    color: green;
}

.anchor{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
}

.small-text{
    text-align: center;
    background-color: grey;
}

.text-1{
    margin-bottom: 10px;
    text-align: center;
}

.text-2{
    margin-bottom: 20px;
    text-align: center;
}

.style{
    background-color: green;
}

.style-2{
    background-color: darkslategrey;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-container{
    display: flex;
    gap: 10px;
}

.header-section{
    background-image: url(images/ibrahim-rifath-3bHDoR7JUNc-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.header-size{
    font-size: 20px;
}

.header-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: black; */
    /* opacity: 100 ; */
    padding: 50px;
    /* border-radius: 50px; */
}

.header-1{
    font-size: 25px;
    color: white;
    background-color: darkslategray;
}

 .header-3{
    text-align: center;
 }

.section{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.header-size-h2{
    font-size: 25px;
}

.main-text{
    text-align: center;
}

.footer{
    /* background-color: black; */
}

.footer-main-class{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-sub-class{
    display: flex;
    flex-direction: column;
}

.footer-header-text{
    margin-bottom: 10px;
}

.footer-text{
    display: flex;
    gap: 20px;
}

.footer-header-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-header-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-header-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span-text-1{
    color: green;
}

.span-text-2{
    color: green;
}

.form{
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 0 auto;
    padding: 0 100px ;
    max-width: 1200px;
}

.grid-container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image{
    max-width: 150px;
}

.img{
    width: 100%;
    max-width: 40px;
}