*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    /* font size
    other fontsize notation system includes 
    md(medium) l(large) xl(extra large) 2xl 3xl e.t.c */

    --txt-sm: 1rem;
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    --max-width: 120rem

    /* FONT WEIGHT */

    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-bold:700;

    /* LINE HEIGHT */

    --line-height-tight: 1.2;
    --line-height-normal:1.5;

    /* LETTER SPACING */

    --letter-spacing-tight:-2px;

    /* FONT-FAMILY */

    --font-family:'poppins', sans-serif;

    /* COLORS */

    --primary-tint: #ffffff;
    --primary-shade: #32a091;
    --grey-Shade:#212529;
    --White:#f4f4f4;
    --Black:#333333;

    /* MISCELLANEOUS */
    --nav-height: 100px; 
    
}

html{
    font-size: 62.5%;
}

body{
    font-family:'poppins', sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    background-color: var(--White);
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: var(--max-width);
    
}

.sub-container{
    margin: 0 auto;
    width: 80%;
    max-width: var(--max-width);
}

.sub-container-1{
    margin: 0 auto;
    width: 80%;
    max-width: var(--max-width);
}

.sub-container-2{
    margin: 0 auto;
    width: 80%;
    max-width: var(--max-width);
}

h1,h2,h3{
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-tight);
    line-height: var(--line-height-tight);
}

h1{
    color: var(--White);
    font-size: 3.5rem;
}

h2{
    font-size: var(--text-h4);
}

h3{
    font-size: 2.4rem;
}

p{
    font-size: var(--text-paragraph);
}

a{
    font-weight: var(--font-weight-medium);
    font-size:  var(--text-paragraph);
}

.anchor{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: var(--font-weight-medium);
    font-size: var(--text-h4);
    display: inline-block;
}

a:hover,a:active{
    color: var(--Black);
    text-decoration: underline;
}

/* a:visited{
    color: #495057;
} */

.anchor-state{
    text-decoration: none;
}

.paragraph{
    text-align: center;
    margin-bottom: var(--txt-sm);
}

.pop-text{
    color: var(--primary-shade);
}

.small-text{
    text-align: center;
    background-color:  var(--primary-shade);
}

.text-1{
    margin-bottom: var(--txt-sm);
    text-align: center;
}

.text-2{
    margin-bottom: var(--text-paragraph);
    text-align: center;
}

/* .text-container{
    height: 400px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.style{
    color: var(--White);
    background-color:  var(--primary-shade);
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.style-2{
    color: var(--White);
    background-color: var(--Black);
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-container{
    display: flex;
    gap: 1rem;
}

.header-section{
    background-image: url(images/ibrahim-rifath-3bHDoR7JUNc-unsplash.jpg);
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.header-size{
    font-size: 1.5rem;
}

.header-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--txt-sm);
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--primary-tint);
    padding: 2rem 4rem;
    border-radius: 5rem;
    width: fit-content;
    margin: 0 auto;
}

.header-1{
    font-size: 2.5rem;
    color: var(--primary-tint);
    background-color: var(--Black);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 13rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: flex;
    justify-content: space-between;
}

 .header-3{
    text-align: center;
    margin-top: var(--text-h4);
    margin-bottom: var(--txt-sm);
 }

.section{
    text-align: center;
    margin-top: var(--txt-sm);
    margin-bottom: var(--txt-sm);
    font-size: var(--text-paragraph);
}

.header-size-h2{
    font-size: 2.5rem;
    text-align: center;
    margin-top: var(--text-h4);
    margin-bottom: var(--txt-sm);
}

.main-text{
    text-align: center;
    margin-bottom: var(--text-h4);
}

.alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  var(--txt-sm);
}

.footer-section{
    background-color: var(--grey-Shade);
    padding: 2rem 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.footer-main-class{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
}

.footer-sub-class{
    display: flex;
    flex-direction: column;
    color: var(--White);
    font-size: 1.5rem;
}

.footer-header-text{
    font-size: var(--text-h4);
    margin-bottom: 0.5rem;
    color: var(--White);
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--White);
    background-color: var(--Black);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 1.5rem 0px;
}

.footer-container-class{
     display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    color: var(--White);
}

.footer-sub-text{
    margin-top: 4rem;
}

.footer-header-1{
    display: flex;
    flex-direction: column;
    gap: var(--txt-sm);
}

.footer-header-2{
    display: flex;
    flex-direction: column;
    gap:  var(--txt-sm);
}

.footer-header-3{
    display: flex;
    flex-direction: column;
    gap: var(--txt-sm);
}

.span-text-1{
    color: var(--primary-shade);
}

.span-text-2{
    color: var(--primary-shade);
}

.form{
    text-align: center;
    color: var(--White);
     font-size: 1.5rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Black);
}

.button-class{
    background-color: var(--Black);
    color:  var(--White);
    margin-top:  var(--txt-sm);
    padding: 1rem;
    border: none;
}

.input{
    width: 25rem;
    height: 1.5rem;
    padding:  var(--txt-sm);;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin: 0 auto;
    margin-bottom: var(--text-h4) ;
    /* padding: 0 10rem ; */
}

.grid-container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;
}

.grid-container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image{
    max-width: 15rem;
}

.img{
    width: 100%;
    max-width: 4rem;
}

.current{
    color: var(--primary-shade);
}